body{
    background-color: aquamarine;
}
h2{
    font-family: sans-serif;
}

h1{
    text-align: center;
    color: red;
}

.main{
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
}
p{
    font-family: sans-serif;
}
